
body, html{
	background-color:#fff;
	font-family: Arial, sans;
	width: 100%;
	height: 100%;
	padding:0; margin:0;
}

header#main{
	width:1170px;
	margin: 0 auto;
	padding:10px;
	position: relative;

}
header#main img{
	margin-right: 10px;
	height:80px;
}
header#main h1{
	display: inline-block;
	font-weight: normal;
	position: absolute;
	top: 28px;
	left: 187px;
}

#map{
	width:100%;
	height: 600px;
}

#intro{
	width:700px;
	margin:20px auto;
	line-height: 23px;
	font-size: 17px;
	color:#795776;
}

#ldng{
	background: url('ajax-loader.gif') center center no-repeat;
	width:100px;
	height:100px;
	margin:0 auto;
}

/*
*    When screen is smaller than 480px or portrait
*/
@media (orientation:portrait), (max-device-width:480px), (max-width:480px){

	header#main{
		width:200px;
		margin: 0 auto;
		padding:2px;
		position: relative;

	}
	header#main img{
		margin-right: 10px;
		height:20px;
	}
	header#main h1{
		display: inline-block;
		font-weight: bold;
		position: absolute;
		top: 0px;
		left: 50px;
		font-size:12px;
	}

	#intro{
		width:100%;
		padding:2px;
		line-height: 20px;
		font-size: 13px;
	}

	
} 


